<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  </head>
  <body>
    <header>

    </header>
    <main>
      <%- include('index/login'); %>
      <%- include('index/admin'); %>
      <%- include('index/player'); %>
    </main>
    <footer>

    </footer>
  </body>
  <script src="javascripts/utility/formgetter.js"></script>
  <script src="javascripts/utility/modal.js"></script>
  <script src="javascripts/usecase/index/login.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    $(function() {
      var socket = io.connect();
      socket.on('greeting', function(data, fn) {
        var answer = confirm(data.message);
        fn(answer);
      });
    });
  </script>
</html>
