<section class="index-player-nummber close" id="admin-menu-player-number">
  <h2>プレイヤー人数入力</h2>
  <form class="form" action="">
    <div class="form-group">
        <div class="form-title">ルーム人数</div>
        <div class="form-input-box">
          <input type="text" id="memberNum">
        </div>
    </div>
    <button type="button" class="button-white" onclick="settingMemberNumber()">ルームを開設する</button>
  </form>
</section>

<section class="index-hoped-player-list close" id="admin-hoped-player">
    <h2>参加希望プレイヤー一覧</h2>
    <article id="admin-index-hoped-player-list">
    </article>
    <!-- <table class="table table-border-grid">
        <tr>
            <th class="col-4 table-bg-active">プレイヤーコード</th>
            <td class="col-16" colspan="4">123jsu98</td>
        </tr>
        <tr>
            <th class="col-8 table-bg-active" colspan="2">プレイヤー名</th>
            <th class="col-8 table-bg-active" colspan="2">合言葉</th>
            <th class="col-4 table-bg-active">操作</th>
        </tr>
        <tr>
            <td class="col-8" colspan="2">伊沢卓司</td>
            <td class="col-8" colspan="2">バナナ</td>
            <td class="col-4 table-align-c"><button type="button" class="button-white">入室許可</button></td>
        </tr>
        <tr>
            <td class="col-8" colspan="2">ふくらP</td>
            <td class="col-8" colspan="2">りんご</td>
            <td class="col-4 table-align-c"><button type="button" class="button-white">入室許可</button></td>
        </tr>
    </table>
    <table class="table table-border-grid">
        <tr>
            <th class="col-4 table-bg-active">プレイヤーコード</th>
            <td class="col-4" colspan="4">1923hjaw</td>
            <td class="col-12" colspan="4">カズレーザー</td>
        </tr>
    </table>
    <table class="table table-border-grid">
        <tr>
            <th class="col-4 table-bg-active">プレイヤーコード</th>
            <td class="col-16" colspan="4">8120kdw9</td>
        </tr>
        <tr>
            <th class="col-8 table-bg-active" colspan="2">プレイヤー名</th>
            <th class="col-8 table-bg-active" colspan="2">合言葉</th>
            <th class="col-4 table-bg-active">操作</th>
        </tr>
    </table> -->
    <dl>
        <div>
            <dt>視聴者数</dt>
            <dd>22人</dd>
        </div>
        <div>
            <dt>観戦者用ルームコード</dt>
            <dd>a92ja9sa</dd>
        </div>
    </dl>
    <button class="button-black mt-3">参加者を確定する</button>
</section>

<section class="index-player-nummber close" id="admin-menu-player-number">
    <h2>問題を選択して下さい</h2>
    <form class="form" action="">
      <div class="form-group">
          <div class="form-title">問題を選択して下さい。</div>
          <div class="form-input-box">
            <select name="" id="">
                <option value="0">選択して下さい</option>
                <option value="1">【国語】かな４文字で漢字１文字を読め</option>
                <option value="2">【算数】法則を考えて四角に数字を埋めよ</option>
            </select>
          </div>
      </div>
      <button type="button" class="button-white">ルームを開設する</button>
    </form>
</section>