<section class="index-hoped-player-list close" id="admin-menu-player-number">
    <h2>待機室</h2>
    <table class="table table-border-grid">
        <tr>
            <th class="col-3 table-bg-active"></th>
            <th class="col-7 table-bg-active">プレイヤー名</th>
            <th class="col-7 table-bg-active">自己紹介</th>
            <th class="col-3 table-bg-active">ステータス</th>
        </tr>
        <tr>
            <td class="col-3">プレイヤー1</td>
            <td class="col-7">伊沢卓司</td>
            <td class="col-7">クイズノックCEO／東京大学卒</td>
            <td class="col-3 table-align-c"><button type="button" class="button-white">準備OK</button></td>
        </tr>
        <tr>
            <td class="col-3">プレイヤー2</td>
            <td class="col-7">カズレーザー</td>
            <td class="col-7">メイプル超合金／慶應大卒</td>
            <td class="col-3 table-align-c">準備待ち</td>
        </tr>
        <tr>
            <td class="col-3">プレイヤー3</td>
            <td class="col-7">ふくらP</td>
            <td class="col-7">クイズノック／東京理科大卒</td>
            <td class="col-3 table-align-c">準備OK</td>
        </tr>
    </table>
    <dl>
        <div>
            <dt>視聴者数</dt>
            <dd>22人</dd>
        </div>
        <div>
            <dt>観戦者用ルームコード</dt>
            <dd>a92ja9sa</dd>
        </div>
    </dl>
    <button class="button-black mt-3">参加者を確定する</button>
</section>
