//Googleフォント
$ff-noto-sans-jp : 'Noto Sans JP', sans-serif;
$ff-m-plus:'M PLUS 1p', sans-serif;
$ff-zen-antique: 'Zen Antique', serif;
$ff-noto-serif: 'Noto Serif JP', serif;
$ff-point-font: 'Public Sans', sans-serif;
$ff-rock : 'RocknRoll One', sans-serif;
$ff-hatena : 'Russo One', sans-serif;

//フォントサイズ
$fs-logo : 3.6rem;
$fs-auto : 1.6rem;
$fs-small : 1.3rem;

//背景色
$bgc-aside : #F7F7F7;
$bgc-active : #DDDDDD;
$bgc-logout-btn : #E8E8E8;
$bgc-black : #191919;
$bgc-white : #FFFFFF;
$bgc-success : #D4EDD9;

//フォント色
$fc-hide : #C4C4C4;
$fc-black : #191919;
$fc-black-thin : #3c3c3c;
$fc-white : #FFFFFF;
$fc-error : #ff7575;
$fc-link : #7474ff;
$fc-success : #155724;

//ボーダー色
$bdc-black: #191919;
$bdc-link : #7474ff;
$bdc-success : #C3E6CB;