@import "./../variables";

.button{
    font-size: $fs-auto;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.8rem 2rem;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;
    &-black {
        @extend .button;
        background-color: $bgc-black;
        color: $fc-white; 
        transition: 0.3s;
        &:hover{
            background-color: $bgc-white;
            color: $fc-black;
            border: 1px solid $bdc-black;
        }
    }
    &-white {
        @extend .button;
        background-color: $bgc-white;
        color: $fc-black;
        border: 1px solid $bdc-black; 
        transition: 0.3s;
        &:hover{
            background-color: $bgc-black;
            color: $fc-white; 
        }
    }
}

